<% @tasks.each do |t|%>
  <div class="card" style="width: 12rem; border-style: solid; border-radius: 20px; margin: 15px;">
    <div class="card-body">
      <h5 class="card-title"><%= t.title %></h5>
      <p class="card-text"><%= t.details %></p>
    </div>
  </div>
<% end %>
